/* grape-nuts-regular - latin */
@font-face {
  font-family: "Grape Nuts";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/grape-nuts-v1-latin-regular.woff2") format("woff2"),
    url("../fonts/grape-nuts-v1-latin-regular.woff") format("woff");
}

.hello {
  color: red;
  font-family: "Grape Nuts", Arial, Helvetica, sans-serif;
  background: url("./icon.png");
}
